@model IEnumerable<JWST___PWEB__lab____proy._final.Models.importantFacts>

@{
    ViewData["Title"] = "Electronica";
}

@section Cards{
    <div class="col-3 aside">
        <br>
        <h2 class="aside-title">Datos reelevantes</h2>
        <br>
        <div class="cards">
        </div>
        <br>
        <a class="new-IF" asp-action="Create">Agregar nuevo</a>
    </div>
    }

<div class="col contenido">

    <h1>Equipo electrónico (vistazo general)</h1>
    <p>
        Una de las cosas en las que más destaca Webb (a mi parecer) es el alto grado de innovación
        tecnológica del que da testimonio. Una breve prueba de ello son los próximos párrafos, que tratan
        acerca del principal equipamiento científico de este coloso de la ingeniería:
    </p>
    <p>
        Los instrumentos del JWST están contenidos dentro del Módulo de Instrumentos Científicos Integrados
        (ISIM), que es uno de los tres elementos principales que componen el sistema de vuelo del
        Observatorio del Webb. Los otros son el elemento del telescopio óptico (OTE) y el elemento de la
        nave espacial (compuesto por la nave espacial y el parasol).
    </p>
    <img src=@Url.Content("wwwroot/pictures/ISIM_3_logical_region.jpg")>
    <p>
        El ISIM es el corazón del Telescopio Espacial James Webb, alberga los cuatro instrumentos
        principales que detectarán la luz de galaxias y estrellas distantes, además de los planetas que las
        orbiten (si es que los hay).
    </p>
    <p>
        El ISIM incluye los siguientes instrumentos:
    </p>
    <ul>
        <li>
            La Cámara de infrarrojo cercano (NIRCam), proporcionada por la Universidad de Arizona
            <ul>
                <li>
                    La cámara de infrarrojo cercano (NIRCam) es el generador de imágenes principal del JWST.
                    NIRCam detectará la luz de: las primeras estrellas y galaxias en proceso de formación,
                    la población de estrellas en galaxias cercanas, así como estrellas jóvenes en los
                    objetos de la Vía Láctea y el Cinturón de Kuiper. NIRCam está equipado con coronógrafos,
                    instrumentos que permiten a los astrónomos tomar fotografías de objetos muy débiles
                    alrededor de un objeto central brillante, como sistemas estelares. Los coronógrafos de
                    NIRCam funcionan bloqueando la luz de un objeto más brillante, lo que permite ver el
                    objeto más tenue cercano, al igual que cuando levantamos una mano para tapar la luz del
                    sol, proteger nuestros ojos y poder enfocarnos en lo que tenemos frente a nosotros (que
                    antes no podíamos ver). Con los coronógrafos, los astrónomos esperan determinar las
                    características de los planetas que orbitan estrellas cercanas.
                </li>
            </ul>
        </li>

        <img src=@Url.Content("wwwroot/pictures/nircam1.jpg")>

        <li>
            El Espectrógrafo de infrarrojo cercano (NIRSpec) proporcionado por la Agencia Espacial Europea
            (ESA), con componentes proporcionados por NASA/GSFC.
            <ul>
                <li>
                    Un espectrógrafo (también llamado a veces espectrómetro) se usa para dispersar la luz de
                    un objeto en un espectro. Analizar el espectro de un objeto puede informarnos sobre sus
                    propiedades físicas, incluida la temperatura, la masa y la composición química. Los
                    átomos y las moléculas en el objeto en realidad imprimen líneas en su espectro que
                    identifican de manera única cada elemento químico presente y pueden revelar una gran
                    cantidad de información sobre las condiciones físicas del objeto. La espectroscopia y la
                    espectrometría (las ciencias de la interpretación de estas líneas) se encuentran entre
                    las herramientas más precisas que tenemos para explorar el cosmos.<br>
                </li>
            </ul>
        </li>

        <img src=@Url.Content("wwwroot/pictures/NIRSpec_CAD_sm.jpg")>

        <li>
            El Instrumento de infrarrojo medio, o MIRI, proporcionado por el Consorcio Europeo con la
            Agencia Espacial Europea (ESA) y por el Laboratorio de Propulsión a Chorro de la NASA (JPL)
            <ul>
                <li>
                    Sus detectores sensibles le permitirán ver la luz desplazada hacia el rojo de galaxias
                    distantes, estrellas en formación y cometas apenas visibles, así como objetos en el
                    Cinturón de Kuiper. La cámara de MIRI proporcionará imágenes de banda ancha y campo
                    amplio que continuarán con la impresionante astrofotografía que ha hecho que el Hubble
                    sea tan universalmente admirado. Su espectrógrafo permitirá la espectroscopia de
                    resolución media, proporcionando nuevos detalles físicos de los objetos distantes que
                    observará.
                </li>
            </ul>
        </li>

        <img src=@Url.Content("wwwroot/pictures/miri.jpg")>

        <li>
            El Sensor de orientación fina/Generador de imágenes de infrarrojo cercano y espectrógrafo sin
            rendija, o FGS/NIRISS, proporcionado por la Agencia Espacial Canadiense.
            <ul>
                <li>
                    El sensor de orientación fina (FGS) permite que el JWST apunte con precisión (a sus
                    objetivos) para que pueda obtener imágenes de alta calidad. El generador de imágenes de
                    infrarrojo cercano y el espectrógrafo sin rendija del FGS/NIRISS se utilizarán para
                    investigar los siguientes objetivos científicos: detección de la primera luz, detección
                    y caracterización de exoplanetas y espectroscopia de tránsito de exoplanetas. Este es un
                    instrumento especializado con tres modos principales, cada uno de los cuales aborda un
                    rango de longitud de onda independiente. El FGS es un "guía", que ayuda a orientar el
                    telescopio.
                </li>
            </ul>
        </li>
        <img src=@Url.Content("wwwroot/pictures/fgs1.jpg")>
    </ul>
    <ul>
        Referencias:
        <li>
            <a href="https://webb.nasa.gov/content/observatory/instruments/index.html">https://webb.nasa.gov/content/observatory/instruments/index.html</a>
        </li>
        <li>
            <a href="https://webb.nasa.gov/content/observatory/instruments/nircam.html">https://webb.nasa.gov/content/observatory/instruments/nircam.html</a>
        </li>
        <li>
            <a href="https://webb.nasa.gov/content/observatory/instruments/nirspec.html">https://webb.nasa.gov/content/observatory/instruments/nirspec.html</a>
        </li>
        <li>
            <a href="https://webb.nasa.gov/content/observatory/instruments/miri.html">https://webb.nasa.gov/content/observatory/instruments/miri.html</a>
        </li>
        <li>
            <a href="https://webb.nasa.gov/content/observatory/instruments/fgs.html">https://webb.nasa.gov/content/observatory/instruments/fgs.html</a>
        </li>
        <li>
            <a href="https://www.nasa.gov/feature/goddard/2016/science-instruments-of-nasa-s-james-webb-space-telescope-successfully-installed">https://www.nasa.gov/feature/goddard/2016/science-instruments-of-nasa-s-james-webb-space-telescope-successfully-installed</a>
        </li>
    </ul>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            $('.pie-pag').removeClass('fixed-bottom');

            $('a.new-IF').click(function () {

            })
        });
    </script>
}












