@model IEnumerable<JWST___PWEB__lab____proy._final.Models.importantFacts>

@{
    ViewData["Title"] = "Espejos";
}

@section Cards{
    <div class="col-3 aside">
        <br>
        <h2 class="aside-title">Datos reelevantes</h2>
        <br>
        <div class="cards">
        </div>
        <br>
        <a class="new-IF" asp-action="Create">Agregar nuevo</a>
    </div>
    }

<div class="col contenido">
    <h1>Espejos del JWST</h1>

    <p>
        La sensibilidad de un telescopio (o cuánto detalle puede ver) está directamente relacionada con el
        tamaño del área del espejo que recoge la luz de los objetos observados. Un área más grande recoge
        más luz, al igual que un balde más grande recoge más agua en una ducha de lluvia que uno pequeño.
        Como muchos de los objetos que observará el JWST están a más de 13 mil millones de años luz de
        distancia de nosotros (y por esa razón, la luz que llega de ellos a nosotros es muy débil), el
        espejo principal de Webb tiene 6,5 metros de ancho. Nunca antes se había lanzado al espacio un
        espejo tan grande.
    </p>
    <img src=@Url.Content("wwwroot/pictures/26504730220_6093d4a042_b.jpg"))>
    <h3>Un reto para los ingenieros</h3>
    <p>
        Los científicos e ingenieros del Telescopio Webb determinaron que lo que se necesitaba para medir la
        luz de estas galaxias distantes era un espejo primario de 6,5 metros (21 pies y 4 pulgadas) de
        ancho.
    </p>
    <p>
        Si el espejo de 2,4 metros del telescopio espacial Hubble se escalara para que fuera lo
        suficientemente grande para Webb, sería demasiado pesado para ponerlo en órbita. El equipo de Webb
        tuvo que encontrar nuevas formas de construir el espejo para que fuera lo suficientemente liviano
        (solo una décima parte de la masa del espejo del Hubble por unidad de área) pero muy fuerte.
    </p>
    <img src=@Url.Content("wwwroot/pictures/JWST-HST-primary-mirrors.jpg")>
    <p>
        El equipo del Telescopio Webb decidió fabricar los segmentos del espejo con berilio, que es
        resistente y ligero (además de ser bueno para mantener su forma en un rango de temperaturas, buen
        conductor de la electricidad, el calor y no ser magnético). Cada segmento pesa aproximadamente 20
        kilogramos (46 libras).
    </p>
    <h3>Espejos plegables</h3>
    <p>
        El equipo del Telescopio James Webb también decidió construir el espejo en segmentos sobre una
        estructura que se pliega, como las hojas de una mesa abatible, para que pueda caber en un cohete. El
        espejo se desplegaría después del lanzamiento. Cada uno de los 18 segmentos de espejo de forma
        hexagonal tiene 1,32 metros (4,3 pies) de diámetro, plano a plano. (El espejo secundario de Webb
        tiene 0,74 metros de diámetro).
    </p>
    <img src=@Url.Content("wwwroot/pictures/DUbetu8W0AERmOE.jpg")>
    <h3>¿Por qué hexagonal?</h3>
    <p>
        La forma hexagonal permite un espejo segmentado más o menos circular con alto factor de llenado y
        simetría de seis dobleces. Un alto factor de llenado significa que los segmentos encajan entre sí
        sin espacios. Si los segmentos fueran circulares, habría espacios entre ellos. La simetría es buena
        porque solo se necesitan 3 prescripciones ópticas diferentes para 18 segmentos, 6 de cada uno.
        Finalmente, se desea una forma general de espejo más o menos circular porque enfoca la luz en la
        región más compacta de los detectores. Un espejo ovalado, por ejemplo, daría imágenes alargadas en
        una dirección. Un espejo cuadrado enviaría mucha luz fuera de la región central.
    </p>
    <img src=@Url.Content("wwwroot/pictures/8026703960_2b648fba38_b.jpg")>
    <h3>Lograr un solo enfoque perfecto: actuadores</h3>
    <p>
        Una vez en el espacio, lograr que estos espejos enfoquen correctamente las galaxias lejanas es otro
        desafío. Los actuadores (o diminutos motores mecánicos) brindan la respuesta para lograr un único
        enfoque perfecto. Los segmentos del espejo primario y el espejo secundario son movidos por seis
        actuadores que están unidos a la parte posterior de cada pieza del espejo. Los segmentos del espejo
        primario también tienen un actuador adicional en su centro que ajusta su curvatura. El espejo
        terciario del telescopio permanece estacionario.
    </p>
    <img src=@Url.Content("wwwroot/pictures/276i20p25cd81.webp")>
    <p>
        Lee Feinberg, Webb Optical Telescope Element Manager en NASA Goddard explica: "Alinear los segmentos
        del espejo principal como si fueran un solo espejo grande significa que cada espejo está alineado a
        1/10,000 del grosor de un cabello humano. Lo que es aún más sorprendente es que los ingenieros y
        científicos que trabajan en el telescopio Webb literalmente tuvieron que inventar cómo hacer esto".
    </p>
    <h3>Reto para los ingenieros: mantener fríos los espejos de Webb</h3>
    <p>
        Otro reto es mantener frío el espejo de Webb. Para ver las primeras estrellas y galaxias en el
        Universo primitivo, los astrónomos deben observar la luz infrarroja que emiten y utilizar un
        telescopio e instrumentos optimizados para esta luz. Debido a que los objetos cálidos emiten luz
        infrarroja, o calor, si el espejo de Webb tuviera la misma temperatura que el del telescopio
        espacial Hubble, la tenue luz infrarroja de las galaxias distantes se perdería en el brillo
        infrarrojo del espejo. Por lo tanto, Webb debe estar muy frío ("criogénico"), con sus espejos a
        alrededor de -220 grados C (-364 grados F). El espejo en su conjunto debe ser capaz de soportar
        temperaturas muy frías y mantener su forma.
    </p>
    <img src=@Url.Content("wwwroot/pictures/o5X2R.png")>
    <p>
        Para mantener frío a Webb, será enviado al espacio profundo, lejos de la Tierra. Los parasoles
        protegerán los espejos y los instrumentos del calor del Sol, y los mantendrán separados del cálido
        autobús de la nave espacial.
    </p>
    <h3>Revestimiento de oro</h3>
    <p>
        Una vez que se corrige la forma final de un segmento de espejo por cualquier efecto de imagen debido
        a las bajas temperaturas, y se completa el pulido, se aplica una fina capa de oro. El oro mejora el
        reflejo del espejo de la luz infrarroja.
    </p>
    <img src=@Url.Content("wwwroot/pictures/mirror32_med.jpg")>
    <p>
        La estructura del telescopio (esencialmente su esqueleto, sobre el que se montarían los espejos) se
        envió desde Northrop Grumman y llegó a NASA Goddard en agosto de 2015. Se trasladó al soporte de
        montaje en noviembre de 2015. En noviembre El 22 de enero de 2015 se instaló el primer espejo.
    </p>
    <img src=@Url.Content("wwwroot/pictures/itarappres1.jpg")>
    <p>
        Una vez que se completaron los espejos, los instrumentos científicos se integraron en el telescopio.
        Mientras estuvo en Goddard, el telescopio también se sometió a pruebas ambientales, tanto acústicas
        como de vibración, para garantizar que podrá soportar los rigores del lanzamiento. Una vez
        completado con éxito, el telescopio fue enviado a NASA Johnson en Houston, Texas, para pruebas de la
        óptica y los instrumentos a temperaturas criogénicas. ¡La Cámara A de NASA Johnson es la única
        cámara de vacío térmico que tiene la NASA que es lo suficientemente grande para Webb!
    </p>
    <ul>
        Referencias:
        <li>
            <a href="https://webb.nasa.gov/content/observatory/ote/mirrors/index.html#8">https://webb.nasa.gov/content/observatory/ote/mirrors/index.html#8</a>
        </li>
    </ul>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            $('.pie-pag').removeClass('fixed-bottom');
        });
    </script>
}