@model IEnumerable<JWST___PWEB__lab____proy._final.Models.importantFacts>

@{
    ViewData["Title"] = "¿Qué es el JWST?";
}

@section Cards{
    <div class="col-3 aside">
        <br>
        <h2 class="aside-title">Datos reelevantes</h2>
        <br>
        <div class="cards">
        </div>
        <br>
        <a class="new-IF" asp-action="Create">Agregar nuevo</a>
    </div>
    }

<div class="col contenido">
    <h1>La mayor máquina del tiempo jamás creada</h1>
    <h2>El telescopio espacial James Webb</h2>

    <br>

    <h3>Qu&eacute; es?</h3>
    <p>
        El telescopio espacial James Webb (JWST), una iniciativa conjunta de la NASA, la ESA y la
        Agencia
        Espacial Canadiense (CSA), es, a la fecha, el telescopio espacial más grande lanzado en la
        historia,
        además de el proyecto MAS CARO en la historia de la NASA, cuya misión es dar una respuesta a
        las
        preguntas más enigmáticas de nuestro universo: sobre las primeras galaxias, las primeras
        estrellas y
        hasta el origen de la vida que los científicos todavía desconocen.
    </p>
    <img src=@Url.Content("wwwroot/pictures/jwstartistconcept.jpg")>

    <h3>
        A medida que se cierra una ventana al Universo, se abrirá otra con una vista aún mejor...
    </h3>
    <p>
        Este observatorio orbital
        ofrecerá observaciones complementarias a las de Hubble; éste trabaja en luz visible,
        mientras que
        James Webb operará en el infrarrojo cercano y mediano. Y, para cumplir con su misión, el
        telescopio
        necesita ser enorme. Sólo de esa manera podrá detectar objetos muy lejanos que, desde su
        posición,
        se verán además muy pequeños.
    </p>
    <p>
        Y cuando se dice que es el observatorio más grande que se va a lanzar al espacio, se hace
        referencia
        a las dimensiones de su escudo solar, equivalente a una cancha de tenis, y a su espejo
        primario
        segmentado, de 6,5 metros de diámetro.
    </p>
    <img src=@Url.Content("wwwroot/pictures/1200px-JWST-HST-primary-mirrors-es.svg.png")>
    <p>
        Este inmenso aparato no reemplazará al Hubble, sino que complementará sus observaciones
        (como ya se
        mencionó), aunque este (el Hubble), ya está próximo a retirarse.
    </p>

    <h3>¿Cómo funciona?</h3>
    <p>
        Como todos los telescopios espaciales, el JWST tiene una ventaja sobre sus contrapartes
        establecidos
        en la Tierra: No hay una atmósfera que distorsione nuestra visión así que las estrellas no
        centellean en el espacio.
    </p>
    <p>
        Todos los instrumentos del James Webb observarán la luz infrarroja, lo cual es vital para
        entender
        el universo, ya que los objetos más lejanos que podemos detectar se ven con luz infrarroja
        porque
        ésta puede atravesar el polvo interestelar que bloquea la luz visible, además la luz visible
        que
        viaja desde una estrella lejana se distorsiona en su trayecto hacia nosotros, pues su
        longitud de
        onda se vuelve más larga, lo que significa que la luz que estaba en el rango visible para
        los
        humanos es desplazada hacia el infrarrojo del espectro electromagnético, este es un efecto
        llamado
        "desplazamiento hacia el rojo" y significa que si se quiere ver hacia puntos más remotos del
        pasado
        debemos mirar objetos que resultan invisibles para nosotros.
    </p>
    <img src=@Url.Content("wwwroot/pictures/3.png")>
    <p>
        Pero estos objetos "invisibles" no
        serán invisibles para el James Webb, ya que tres de sus detectores están sintonizados hacia
        el
        infrarrojo cercano. Como el término sugiere, esos son los rojos que podemos ver en el
        espectro
        electromagnético. La observación en esta longitud de onda permitirá comprender cómo se pasó
        de las
        estructuras primordiales del Universo a los planetas con capacidad para albergar vida.
    </p>
    <p>
        El JWST será capaz de mirar hasta CASI el comienzo del universo: "No sabemos mucho sobre
        esta era.
        Sabemos cómo se veía la estructura del universo poco después del Big Bang y, por el
        (telescopio)
        Hubble y otras misiones, cómo se ven las galaxias ahora o en épocas posteriores, pero, la
        pequeña
        porción en el medio, cómo se formaron las primeras... no sabemos mucho sobre esa era ",
        explica la
        investigadora europea (asociada al proyecto) Gillian Wright.
    </p>
    <p>
        Por último: El JWST también se utilizará para observar y estudiar exoplanetas, como los del
        sistema
        Trappist-1. La existencia del primer exoplaneta fue confirmada en 1995. Ahora sabemos que
        hay más de
        4.000 de ellos
    </p>

    <h3>Lanzamiento y post-lanzamiento</h3>
    <p>
        El James Webb probablemente ostente el récord de ser el proyecto más retrasado y más pasado
        de
        presupuesto en la historia de la NASA. Tanto que ha estado a punto de cancelación más de una
        vez. Su
        lanzamiento se ha demorado más de 14 años y la factura asciende a algo más de 10.000
        millones de
        dólares (unos 8.828 millones de euros), incluyendo el coste de cinco años de operación. Más
        o menos,
        veinte veces lo previsto originalmente.
    </p>
    <img src=@Url.Content("wwwroot/pictures/Cohete-Ariane-5-con-el-telescopio-James-Webb.jpg")>
    <p>
        Pero, finalmente, el 25 de diciembre del año 2021, comenzó la etapa previa a los (mínimo) 5
        años que
        trabajará este telescopio, con su lanzamiento a bordo de un cohete Ariane 5, desde el puerto
        de
        Korou, en la Guyana Francesa, después de haber descansado sobre varias toneladas de
        hidrógeno
        líquido desde el día 11 de ese mismo mes. El espejo es tan grande que ha habido que idear
        una forma
        de plegarlo sobre sí mismo para entrar en la cofia superior del artefacto.
    </p>
    <img src=@Url.Content("wwwroot/pictures/Ariane_5_ECA_launch_article.jpg")>
    <p>
        Tras el despegue, el “Webb” viajó un millón y medio de kilómetros hasta el punto de Lagrange
        "L2"
        (los
        puntos de Lagrange son 5 puntos especiales [teniendo, en este caso, como marco de referencia
        a la
        tierra y la luna orbitando alrededor del sol], donde se podría mantener un equilibrio
        gravitacional;
        es decir, un objeto colocado en cualquiera de estos cinco puntos en el marco rotatorio,
        podría
        permanecer allí con las fuerzas efectivas con respecto a este marco canceladas). En este
        lugar podrá
        permanecer alineado con la Tierra a medida que esta orbita el Sol.
    </p>
    <img src=@Url.Content("wwwroot/pictures/lagpot2.gif")>
    <p>
        Hay una desventaja: está tan lejos que será imposible ir a repararlo como se hizo con el
        Hubble. La
        secuencia de despliegue y
        puesta en funcionamiento de este telescopio ha sido la más compleja de la historia, además
        hubo unas
        300 maniobras que pudieron fallar, arruinando por completo la misión, pero afortunadamente
        todo
        salió bien.
    </p>
    <p>
        La secuencia de despliegue posterior al despegue es la parte más critica de toda la misión;
        de
        hecho, a los 14 días que dura este proceso los han llegado a llamar los “14 días de terror”.
    </p>
    <img src=@Url.Content("wwwroot/pictures/_121342105_jw_telescope_deployment_spa_2x_640-nc.png")>

    <ul>
        Referencias
        <li>
            <a href="https://www.esa.int/Space_in_Member_States/Spain/James_Webb_el_telescopio_mas_grande_para_desentranar_el_Universo">https://www.esa.int/Space_in_Member_States/Spain/James_Webb_el_telescopio_mas_grande_para_desentranar_el_Universo</a>
        </li>
        <li>
            <a href="https://www.mdscc.nasa.gov/index.php/2020/01/23/como-el-telescopio-webb-de-la-nasa-continuara-el-legado-de-spitzer/">https://www.mdscc.nasa.gov/index.php/2020/01/23/como-el-telescopio-webb-de-la-nasa-continuara-el-legado-de-spitzer/</a>
        </li>
        <li>
            <a href="https://www.bbc.com/mundo/noticias-51011620">https://www.bbc.com/mundo/noticias-51011620</a>
        </li>
        <li>
            <a href="https://elpais.com/ciencia/2021-12-24/preguntas-y-respuestas-sobre-james-webb-el-proyecto-mas-caro-de-la-historia-de-la-nasa.html">https://elpais.com/ciencia/2021-12-24/preguntas-y-respuestas-sobre-james-webb-el-proyecto-mas-caro-de-la-historia-de-la-nasa.html</a>
        </li>
        <li>
            <a href="https://elpais.com/ciencia/2021-12-19/el-telescopio-que-vera-como-nacio-la-luz-en-el-universo.html">https://elpais.com/ciencia/2021-12-19/el-telescopio-que-vera-como-nacio-la-luz-en-el-universo.html</a>
        </li>
        <li>
            <a href="https://www.france24.com/es/ee-uu-y-canad%C3%A1/20211225-el-telescopio-james-webb-fue-lanzado-con-%C3%A9xito-a-%C3%B3rbita-desde-guayana-francesa">https://www.france24.com/es/ee-uu-y-canad%C3%A1/20211225-el-telescopio-james-webb-fue-lanzado-con-%C3%A9xito-a-%C3%B3rbita-desde-guayana-francesa</a>
        </li>
        <li>
            <a href="https://www.esa.int/Science_Exploration/Space_Science/Webb/Webb_placed_on_top_of_Ariane_5">https://www.esa.int/Science_Exploration/Space_Science/Webb/Webb_placed_on_top_of_Ariane_5</a>
        </li>
        <li>
            <a href="http://hyperphysics.phy-astr.gsu.edu/hbasees/Mechanics/lagpt.html#c1">http://hyperphysics.phy-astr.gsu.edu/hbasees/Mechanics/lagpt.html#c1</a>
        </li>
        <li>
            <a href="https://www.bbc.com/mundo/noticias-59156147">https://www.bbc.com/mundo/noticias-59156147</a>
        </li>
    </ul>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            $('.pie-pag').removeClass('fixed-bottom');
        });
    </script>
}
