@model IEnumerable<JWST___PWEB__lab____proy._final.Models.importantFacts>

@{
    ViewData["Title"] = "¿Quién fue James Webb?";
}

@section Cards{
    <div class="col-3 aside">
        <br>
        <h2 class="aside-title">Datos reelevantes</h2>
        <br>
        <div class="cards">
        </div>
        <br>
        <a class="new-IF" asp-action="Create">Agregar nuevo</a>
    </div>
    }

<div class="col contenido">
    <h1>¿Quien fue James Webb?</h1>
    <h2>--Ni científico, ni ingeniero--</h2>

    <img src=@Url.Content("wwwroot/pictures/James_Webb_NASA-scaled.jpg")>

    <p>
        La NASA describe a James Webb como alguien que "hizo más por la ciencia que cualquier otro
        funcionario" del gobierno de EE.UU.
    </p>
    <p>
        Muchos astrónomos lo consideran como uno de los mejores directores que ha tenido la agencia
        espacial, ya que bajo su administración la agencia espacial estadounidense inició algunos de los
        proyectos más importantes de su historia, misiones que dejaron una huella imborrable en la memoria
        colectiva y que, a la postre, supusieron la victoria de los Estados Unidos sobre la Unión Soviética
        en la carrera espacial al poner al primer hombre en la Luna: los programas Mercury y Gemini y, sobre
        todo, el Programa Apolo.
    </p>
    <img src=@Url.Content("wwwroot/pictures/TB-1018-p21_fig1.webp")>
    <p>
        Este hombre, burócrata de carrera, no desarrolló ninguna teoría, ni construyó ningún cohete, ni hizo
        grandes descubrimientos, pero revolucionó la industria aeroespacial de tal manera que la NASA ha
        nombrado al mayor telescopio espacial de la historia en su honor.
    </p>

    <h3>Breve biografía</h3>
    <p>
        Nacido en 1906 en un pequeño poblado de Carolina del Norte, Webb obtuvo un bachillerato con mención
        en Letras.
    </p>
    <p>
        Posteriormente se convertiría en teniente segundo en el Cuerpo de Marines de EE.UU., donde más tarde
        se desempeñó como piloto, al mismo tiempo que realizaba un posgrado en Derecho.
    </p>
    <p>
        El norcarolino comenzó su larga carrera en el servicio público estadounidense en 1932 como
        secretario de un miembro de la Cámara de Representantes de Estados Unidos.
    </p>
    <p>
        Durante la Segunda Guerra Mundial se volvió a enganchar al Cuerpo de Marines, donde estuvo al frente
        de una unidad de mando y control de aviación.
    </p>
    <img src=@Url.Content("wwwroot/pictures/james_webb___quien_fue_x6070213x.jpg_1150884414.webp")>
    <p>
        Al acabar la guerra, regresó a Washington y trabajó en la Oficina de Administración y Presupuesto,
        antes de servir como subsecretario de Estado en el Departamento de Estado desde 1949 hasta 1952,
        bajo el gobierno de Harry S. Truman.
    </p>
    <p>
        Pero la cima de su carrera no vendría sino casi 10 años más tarde, cuando el expresidente de E.U.A,
        John F. Kennedy, lo puso en el puesto más importante de la agencia espacial estadounidense al
        nombrarlo administrador de la NASA el 14 de febrero de 1961, en plena carrera espacial entre
        Washington y Moscú.
    </p>
    <p>
        Permaneció en puesto durante casi toda la década de los 60, al frente del Programa Apolo, que logró
        el sueño del viaje a la Luna por parte del ser humano.
    </p>
    <img src=@Url.Content("wwwroot/pictures/_122006151_jamesewebb.jpg")>
    <p>
        Su labor dejó una década de investigación en ciencia espacial sin paralelos, incluso en la
        actualidad.
    </p>
    <p>
        El sitio de la NASA afirma que mientras Webb estuvo al mando, la agencia invirtió en el desarrollo
        de naves espaciales robóticas, que exploraron el entorno lunar antes de la llegada de los
        astronautas, y envió sondas científicas a planetas como Marte y Venus.
    </p>
    <p>
        "Cuando Webb se retiró, [en Octubre de 1968] justo antes del primer alunizaje, la NASA había lanzado
        más de 75 misiones científicas para estudiar las estrellas y las galaxias, nuestro propio Sol y
        nuestro planeta natal. Misiones como el Orbiting Solar Observatory y la serie Explorer de satélites
        astronómicos, que sentaron las bases para el período de descubrimiento científico más exitoso de la
        historia, que continúa en la actualidad", señala la agencia espacial estadounidense.
    </p>
    <img src=@Url.Content("wwwroot/pictures/g-72-3100.jpg")>
    <h3>Un gran honor</h3>
    <p>
        Al anunciar el nuevo nombre del telescopio espacial de próxima generación, el exdirector de la NASA
        Sean O'Keefe dijo en 2002 que era "apropiado" rendirle un homenaje a la labor de James Webb.
    </p>
    <p>
        "Llevó a nuestra nación en sus primeros viajes de exploración, convirtiendo nuestra imaginación en
        realidad. De hecho, sentó las bases para que la NASA liderara uno de los períodos más exitosos de
        descubrimiento astronómico", aseguró.
    </p>
    <p>
        "Como resultado, estamos reescribiendo los libros de texto hoy con la ayuda del telescopio espacial
        Hubble, el observatorio de rayos X Chandra y el telescopio James Webb".
    </p>
    <img src=@Url.Content("wwwroot/pictures/astro-APD_FleetNov2019-hw.001_print.jpg")>

    <ul>
        Referencias
        <li><a href="https://jwst.nasa.gov/content/about/faqs/whoIsJamesWebb.html">https://jwst.nasa.gov/content/about/faqs/whoIsJamesWebb.html</a></li>
        <li><a href="https://www.bbc.com/mundo/vert-cul-59781829">https://www.bbc.com/mundo/vert-cul-59781829</a></li>
        <li><a href="https://www.xataka.com/espacio/cientifico-ingeniero-quien-fue-james-webb-hombre-que-nombra-al-telescopio-espacial-potente-fecha">https://www.xataka.com/espacio/cientifico-ingeniero-quien-fue-james-webb-hombre-que-nombra-al-telescopio-espacial-potente-fecha</a></li>
    </ul>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            $('.pie-pag').removeClass('fixed-bottom');
        });
    </script>
}